
    .main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsla(152, 82%, 57%, 0.733) ;
    .left{
        flex:1;
        min-height: 600px;
        background: linear-gradient(to right,hsla(152, 82%, 57%, 0.733), hsla(152, 97%, 46%, 0.733));
    }

    .right{

        min-height: 600px;
    }
}