@import "../../App.scss";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border-bottom: solid 1px var(--border);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: sticky;
  top: 0;
  height: 50px;
  @include mobile {
    padding: 10px 10px;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      gap: 10px;
    }

    .logo {
      font-weight: bold;
      font-size: 1.5rem;
      @include mobile {
        display: none;
      }
    }

    .search {
      display: flex;
      gap: 10px;
      border: solid 1px var(--border);
      align-items: center;
      border-radius: 5px;
      padding: 5px;
      input {
        @include mobile {
          display: none;
        }
        border: none;
        outline: none;
        width: 500px;
        background-color: transparent;
        color: var(--texColor);
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    @include mobile {
      gap: 10px;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid 1px var(--border);
        object-fit: cover;
        @include mobile {
          width: 30px;
          height: 30px;
        }
      }
      span {
        font-weight: 500;
      }
    }
  }
}
