.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsla(282, 95%, 15%, 0.363);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background: white;
    height: 600px;
    width: 50%;
    border-radius: 1rem;
    overflow: hidden;

    .left {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 5px 10px;
      background:
        linear-gradient(
          45deg,
          lch(37.26% 98.57 316.97 / 0.445),
          hsla(276, 97%, 38%, 0.438)
        ),
        url("../../assets/friends.jpeg"), no-repeat, center;
      background-size: cover;

      h2 {
        color: rgb(255, 255, 255);
        margin-bottom: 1rem;
        font-size: 5rem;
      }
      p {
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      span {
        color: rgb(227, 238, 238);
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      button {
        text-align: center;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 3px 1px hsl(261, 94%, 46%);
        font-size: large;
        background: white;
        color: hsl(261, 94%, 46%);
        font-weight: bold;
      }
    }

    .right {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 5px 10px;

      h2 {
        font-size: 2rem;
        padding: 0 2rem;
        color: #000;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0 2rem;

        input {
          outline: none;
          width: 100%;
          padding: 1rem;
          border-radius: 5px;
          border: none;
          border-bottom: 2px solid hsl(261, 94%, 46%);
          font-size: large;
        }

        input:hover {
          border: none;

          border-bottom: 2px solid hsl(261, 94%, 46%);
        }
        input:focus {
          border-bottom: 2px solid hsl(261, 94%, 46%);
        }

        button {
          text-align: center;
          width: 100%;
          padding: 1rem;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0 3px 1px hsl(261, 94%, 46%);
          font-size: large;
          background: hsla(261, 95%, 32%, 0.89);
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
